body {
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
}

.selection-box {
  display: flex;
  text-align: center;
  flex-direction: column;
  position: absolute;
  margin-left: 5em;
}

label {
  padding-bottom: 3pt
}

select {
  margin-bottom: 3pt;
  padding: 5px;
}

button {
  margin-top: 5pt;
}

#lightbox {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: none;
}

#lightbox.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

#lightbox div {
  max-width: 90%;
  max-height: 80%;
  background-color: black;
  border: 2px solid white;
}